/*-- Hero section --*/
.hero{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 40px;
    background-color: var(--background-color-1);
    padding: 70px 16% 0;
}
.main-pad{
    padding: 40px 16%;
}
.left{
    flex-basis: 44%;
}
.left p{
    margin: 15px 0;
}
.right{
    flex-basis: 40%;
}
.right img{
    width: 100%;
}

.left h1{
    font-size: 30px;
    color: var(--heading-color);
    font-weight: 600;
}
.left p{
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 20px;
}
.hero .left a{
    padding: 10px 25px;
    background-color: #4F3926;
    border-radius: 4px;
    border: none;
    color: #fff;
}
.heo .left a:hover{
    background-color: #8d4140;
}
.right img{
    width: 130%;
}
.services-sec{
    background-color: var(--background-color-1);
    padding: 120px 16% 90px;
}
.services-sec .container{
    display: flex;
    justify-content: space-between;
}
.services-sec .left{
    flex-basis: 51%;
}
.services-sec .left h3{
    font-size: 30px;
    color: var(--heading-color);
    margin-bottom: 20px;
}

.services-sec .container img{
    width: 380px;
    height: 300px;
}
.row-rev{
    padding-top: 140px;
    flex-direction: row-reverse;
}

/* -- Analytics section -- */
.analytics{
    background-color: var(--background-color-2);
}
.analytics .description{
    text-align: center;
    line-height: 30px;
    padding-bottom: 40px;
}
.analytics .container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.analytics .item span{
    font-size: 18px;
    font-weight: 700;
}

/* - other Services to appriciate section -- */
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}
.color{
    background-color: hsl(219, 92%, 98%);
}
.pd2{
    padding:0 0 40px;
}
.items .title, .items .description{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}

.items .service-item{
    width: 31%;
    display: flex;
}
.service-item img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.service-item p{
    padding-top: 10px ;
    font-size: 14px;
    color: var(--text-color);
}
.item-description a, .explore{
    display: block;
    font-size: 13px;
    margin-top: 20px;
    color: #3183FF;
}
.team .top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 1px solid #343D48;
    position: relative;
}
.team .top a{
    color: #000;
} 
.team .top::after{
    content: '';
    position: absolute;
    background-color: #4F3926;
    width: 300px;
    height: 2px;
    bottom: -2px;
    left: 17%;
    transform: translate(-50%,-50%);
}
.team .container{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 0;
}
.team .left{
    flex-basis: 36%;
}
.left .emoji{
    width: 25px;
}
.left p{
    padding: 10px 0;
    line-height: 30px;
    font-size: 14px;
}
.left .lf-description{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}
.lf-description div{
    display: flex;
    align-items: center;
}
.lf-description img{
    padding-right: 10px;
}
.lf-description span{
    font-size: 13px;
}
.team .right{
    flex-basis: 50%;
    height: 70%;
}
.team .right .right-img{
    width: 100%;
}

/* -- Blog section -- */
.info .title, .info .description {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    grid-template-areas:
        "img-1" "p2" "img-3"
        "title-1" "img-2"
        "p1 " " " "img-4"
        "" "sc-row"
    ;
}
.firt-col, .second-col, .third-col{
    flex-basis: 30%;
}
.blog-container img{
    border-radius: 4px;
}
.img-1{
    width: 100%;
    grid-area: img-1;
    margin-bottom: 10px;
}
.p1, .p3{
    padding-top: 10px;
    font-size: 14px;
    line-height: 30px;
}
.img-2{
    width: 100%;
    grid-area: img-2;
    margin-bottom: 10px;
}
.img-3{
    width: 100%;
    grid-area: img-3;
    position: relative;
}
.img-4{
    width: 100%;
    grid-area: img-4;
    margin-top: 30px;
}
.title-1{
    font-size: 20px;
    grid-area: title-1;
}
.p2{
    width: 100%;
    grid-area: p2;
    background-color: var(--background-color-1);
    padding: 14px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600; 
}
.col-img{
    position: relative;
    color: white;
}
.p4, .p5{
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 10;
    padding: 0 10px;
    font-size: 15px;
}
