/*-- Hero section --*/
.hero{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 40px;
    background-color: var(--background-color-1);
    padding: 70px 16% 0;
    flex-wrap: wrap;
}
.left{
    flex-basis: 44%;
}
.hero .left p{
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 20px;
}
.hero .right{
    flex-basis: 40%;
}
.right img{
    width: 100%;
}
.left h1{
    font-size: 30px;
    color: var(--heading-color);
    font-weight: 600;
}
.hero .left a{
    padding: 10px 25px;
    background-color: #4F3926;
    border-radius: 4px;
    border: none;
    color: #fff;
}
.heo .left a:hover{
    background-color: #8d4140;
}
.right img{
    width: 130%;
}

/* Servicesse section */
.services-sec{
    background-color: #EFF3F7;
}
.services-sec .container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;
}
.services-sec .left{
    flex-basis: 51%;
}
.services-sec .left h3{
    font-size: 30px;
    color: var(--heading-color);
    margin-bottom: 20px;
}
.services-sec .left p{
    font-size: 13px;
}
.mobile-img{
    display: none;
}
.services-sec .container img{
    width: 380px;
    height: 290px;
}
.row-rev{
    padding-top: 140px;
    flex-direction: row-reverse;
}

/* -- Analytics section -- */
.analytics{
    background-color: var(--background-color-2);
}
.short{
    display: none;
}
.analytics .description{
    text-align: center;
    line-height: 30px;
    padding-bottom: 40px;
}
.analytics .container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.analytics .item span{
    font-size: 18px;
    font-weight: 700;
}

/* - other Services to appriciate section -- */
.services{
    padding: 70px 16%;
}
.services .title, .services .description{
    width: 90%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}
/* srvices Cards */
.service-container{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}
.service-container .card{
    position: relative;
    display: flex;
    flex-basis: 30%;
    max-height: 180px;
    transition: max-height 1s ease;
    margin: 40px 0;
}
.service-container .card .content{
    position: relative;
    overflow: hidden;
}
.service-container .card img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.service-container .card .content p{
    padding-top: 10px ;
    font-size: 14px;
    color: var(--text-color);
    line-height: 25px;
}
.service-container .card .content::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(transparent,#fff) ;
}
.service-container .card.active .content::before{
    display: none;
}
.service-container .card .more{
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    bottom: -30px;
    left: 22%;
    color: #3183FF;
}
.service-container .card .more::before{
    content: 'Read More'; 
}
.service-container .card.active .more::before{
    content: 'Read Less';
}
.service-container .card.active{
    max-height: 550px;
}
.item-description.active .more::before{
    display: none;
} 
.item-description a, .explore{
    display: block;
    font-size: 13px;
    margin-top: 20px;
    color: #3183FF;
}
/* -- why choose us section --*/
.team .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
}
.team .top::after{
    content: '';
    position: absolute;
    bottom:20px;
    height: 1px;
    width: 100%;
    background-color: #343D48 ;
}
.team .top .choose-links{
    padding-bottom: 20px;
    color: #000;
    cursor: pointer;
    position: relative;
}
.team .choose-container{
    display: none;
    justify-content: space-between;
    margin: 80px 0 0;
}
.team .choose-container.show{
    display: flex;
    animation: showing .4s;
}
.team .choose-links.show::after{
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 120%;
    left: 0;
    background-color: #4F3926;
}
.team .left{
    flex-basis: 40%;
}
.team .left h3{
    font-size: 26px;
}
/* hidding image for desktop  */
.left .right-img{
    display: none;
}
.left .emoji{
    width: 25px;
}
.left p{
    padding: 20px 0 30px;
    line-height: 30px;
    font-size: 14px;
}
.left .lf-description{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}
.lf-description div{
    display: flex;
    align-items: center;
}
.lf-description img{
    padding-right: 10px;
}
.lf-description span{
    font-size: 13px;
}
.team .right{
    flex-basis: 50%;
    height: 50%;
}
.team .right img{
    width: 100%;
}

@keyframes showing {
    0% {
        transform: scale(.6);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    /*-- hero section -- */
    .hero{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 60px 6%;
    }
    .hero .left{
        text-align: left;
        flex-basis: 100%;
        margin: 40px 0 0;
    }
    .hero .left p{
        font-size: 14px;
    }
    .hero .left a{
        padding: 10px 20px;
        font-size: 14px;
    }
    .hero .right{
        flex-basis: 80%;
        margin: 20px auto 0;
    }
    .right img{
        width: 100%;
    }
    /* Serviceses section */
    .services-sec .container{
        padding: 20px 0;
    }
    .services-sec .left{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }
    .services-sec .container .left h3{
        font-size: 24px;
    }
    .services-sec .container img{
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
    .mobile-img{
        display: block;
    }
    .desktop{
        display: none;
    } 
    .large{
        display: none;
    }
    .short{
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    /* serviceses cards */
    .services .title, .services .description{
        width: 90%;
    }
    .services {
        padding: 50px 6% 0;
    }    
    .container .item p{
        font-size: 13px;
        font-weight: 600;
        padding-top: 10px;
    } 
    .title, .description{
        width: 90%;
        margin: auto;
    }
    .services .description, .lef p{
        font-size: 14px;
    }
    .service-container{
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow: scroll;
        transform: translateX(0);
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .service-container .card{
        min-width: 100%;
        scroll-snap-align: start;
    }
    .service-container .card img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    .service-container .card .content p{
        padding-top: 10px ;
        font-size: 14px;
        color: var(--text-color);
        line-height: 30px;
    }
    .service-container .card .more {
        left: 20%;
    }  
    .team .top{
        min-width: 100%;
        overflow: scroll;
    }
    .team .top::after{
        min-width: 300%;
    }
    .team .top .choose-links{
        min-width: 100%;
    }
    .team .choose-links.show::after{
        width: 80%;
    }
    .team .choose-container{
        flex-wrap: wrap;
        margin: 30px 0 0;
    }
    .team .left, .right{
        flex-basis: 100%;
        margin-top: 30px;
    }
    .team .left h3{
        font-size: 20px;
    }
    .left .right-img{
        margin: 50px auto 20px;
        display: block;
        width: 90%;
    }
    .team .right{
        display: none;
    }
}